$fontFamily: 'Roboto';
$color: '#212121';

html,
body,
.wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
}

.nav {
    border-right: 1px solid #bdbdbd;
    width: 225.5px;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.nav_title {
    font-family: $fontFamily;
    color: $color;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    padding-left: 16px;
    margin-bottom: 27px;
    box-sizing: border-box;
}

.nav_list {
    padding: 0 4px;
    box-sizing: border-box;
}

.nav_item {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    height: 34px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    font-weight: 400;
    font-family: $fontFamily;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #4d4d4d;
    margin-bottom: 11px;
    cursor: pointer;
    transition: all 0.5s linear;
    &:last-child {
        margin-bottom: 0;
    }
    &:hover {
        background-color: #e9f7f8;
    }
    &.active {
        background-color: #e9f7f8;
        color: #22a6b3;
    }
}

.main {
    width: calc(100% - 225.5px);
    flex: 0 0 auto;
    height: 100%;
}

.subContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.canvas {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.loading_container {
    position: absolute;
    top: 0;
    left: 0;
    font-family: $fontFamily;
    color: $color;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.ipt_container {
    position: absolute;
    top: 20px;
    right: 34px;
    width: 200px;
    height: 148px;
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(26, 26, 26, 0.08), 0px 2px 4px rgba(26, 26, 26, 0.03);
    border-radius: 6px;
    padding: 12px;
    box-sizing: border-box;
    z-index: 50;
    & > div {
        margin-bottom: 12px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.position_name {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #4d4d4d;
    font-family: $fontFamily;
}

.position_iptContainer {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    height: 32px;
    overflow: hidden;
    border: 1px solid #ebebeb;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    position: relative;
}

.position_ipt {
    height: 100%;
    width: 100%;
    flex: 0 0 auto;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    color: #4d4d4d;
    font-size: 14px;
    border: 0;
    font-family: $fontFamily;
    letter-spacing: 0.25px;
    outline: none;
    appearance: none;
    padding-right: 10px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}

.stepContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 10px;
    z-index: 5;
}

.upIcon {
    font-size: 7px;
    flex: 0 0 auto;
    color: #757575;
    transform: rotate(180deg);
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.5s linear;
    user-select: none;
    &:hover {
        color: #478da5;
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.downIcon {
    font-size: 7px;
    flex: 0 0 auto;
    color: #757575;
    user-select: none;
    cursor: pointer;
    transition: all 0.5s linear;
    &:hover {
        color: #478da5;
        background-color: rgba(0, 0, 0, 0.05);
    }
}
